h1 {
  font-size: 3rem;
  color: #fff;
}
.header2 {
  height: 50vh;
}
.header {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  @media only screen and (max-width: 56.25em) {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__logo {
    position: absolute;
    top: 3rem;
    left: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    @media only screen and (max-width: 56.25em) {
      top: 5.2rem;
    }
    &__img {
      height: 5rem;
    }
  }
  &__girl {
    position: absolute;
    right: 10rem;
    z-index: 6;
    bottom: 9rem;
    width: 45rem;
    @media only screen and (max-width: 56.25em) {
      width: 25rem;
      display: none;
    }
  }
  &__bg {
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: -1;
    position: absolute;
    object-fit: cover;
    margin-bottom: -2rem;
  }
  &__bg3 {
    width: 100vw;

    bottom: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
    z-index: 10;
    margin-bottom: -1rem;
    @media only screen and (max-width: 56.25em) {
      margin-bottom: -0.6rem;
    }
  }
  margin-bottom: 4rem;
  &__text {
    margin-left: 12rem;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    flex-grow: 0;
    button {
      width: 17rem;
    }
    @media only screen and (max-width: 56.25em) {
      margin-left: 0rem;
      align-items: center;
    }
  }
  &__sub1 {
    color: #fff;
    font-size: 2.8rem;
    font-weight: 300;
    line-height: 100% !important;
    @media only screen and (max-width: 56.25em) {
      text-align: center;
    }
  }
  &__sub3 {
    color: #fff;
    font-size: 5rem;

    @media only screen and (max-width: 56.25em) {
      text-align: center;
    }
  }
}
.header2 {
  height: 65vh;
}
