.whybrainfood {
  padding: 2rem;
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  width: 100%;
  @media only screen and (max-width: 56.25em) {
    display: block;
  }
  &__motherimg {
    height: 30rem;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0px 4px 14px -6px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
  }
  &__head {
    span {
      color: #7569de;
    }
  }
  &__img1 {
    height: 28rem;
    @media only screen and (max-width: 56.25em) {
      height: 24rem;
    }
  }
  &__col {
    padding: 2rem;
    width: 100%;
  }
  &__col1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text {
    span {
      display: block;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.966);
    }
  }
}
.mother {
  width: 100%;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
