.nav {
  &__icn {
    z-index: 2000;
    position: fixed;
    top: 3rem;
    right: 5rem;
    box-shadow: 0 0rem 1rem rgba(#000000, 0.1);
    background-color: #fff;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width: 56.25em) {
      top: 4rem;
    }
    &__icon {
      color: red;
    }
  }
}
.navigation {
  box-shadow: 0 0rem 1rem rgba(#000000, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  width: 0vw;
  background-color: #fff;
  height: 100vh;
  z-index: 1000;
  overflow: hidden;
  transition: all 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  ul {
    list-style: none;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;

    li {
      width: 20rem;
      margin-bottom: 2rem;
      color: #424242;
      transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      &:hover {
        cursor: pointer;
        color: #ff9100;
      }
    }
  }
}
.navigation-active {
  width: 55vw;
}
